

<div style="align-content: center; align-items: center; text-align: center; child-align: auto;" [ngSwitch]="rssReady">
    <div *ngSwitchCase="true">
        <h1>{{imotd.title}}</h1>
        <p>{{imotd.description}}</p>
        <br />

        <img *ngIf="imotd.imageBase64 != null" src="{{imotd.imageBase64}}" alt="{{imotd.imageUrl}}" style="width: 100%" />
        <!--<template #noImage>Attempting to fetch Image!</template>-->
        <br />
        <p>{{imotd.pubDate}}</p>
        <a href="{{imotd.link}}">{{imotd.link}}</a>
    </div>
    <div *ngSwitchCase="false">
        <h2>Loading... (If it takes too long it may not ever work!)</h2>
    </div>

</div>